.contenedor{
   display: flex;
   border:  10px solid red;
   box-sizing:border-box;
   flex-wrap: wrap;
   
}
.contenedor > div{
    
    text-align: center;
    color: white;
    font-size: 30px;
    padding: 10px;
    text-shadow: 4px 4px 0 rgba(0 , 0 , 0 ,.1);
}
body{
    margin: 0;
    overflow: hidden;
}
.div1 { 
   background:#1abc9c;
   flex-grow: 1;
}
.div2 { background:#3498db;
  flex-grow: 2;
}
.div3 { background:#9b59b6;
   flex-grow: 1;
}
.div4 { background:#34495e;
   flex-grow: 1;
}
.div5 { background:#f1c40f;
   flex-grow: 3;
}
.div6 { background:#e67e22;
   flex-grow: 1;
}
