body {
    margin:0;
    overflow: hidden;

}
.contenedor {
    display: flex; 
    border: 10px solid red;
    box-sizing: border-box;
    height: 100vh;
    align-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}

.contenedor div {
    color: #fff;
    box-sizing: border-box;
    width: 33.3%;
    font-size: 100px;
    text-align: center;
    text-shadow: 4px 4px 0 rgba(0, 0, 0, .1);
    padding: 10px;
}

.div1 { background:#1abc9c;}
.div2 { background:#3498db;}
.div3 { background:#9b59b6;}
.div4 { background:#34495e;}
.div5 { background:#f1c40f;}
.div6 { background:#e67e22;}
.div7 { background:#e74c3c;}
.div8 { background:#bdc3c7;}
.div9 { background:#2ecc71;}
.div10 { background:#16a085;}